<%= form_with(model: recording, local: true) do |form| %>
  <% if recording.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recording.errors.count, "error") %> prohibited this recording from being saved:</h2>

      <ul>
      <% recording.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :location %>

    <%= form.select :location_id,
                    options_from_collection_for_select(@locations, "id", "name", id: :recording_location_id)
    %>

    <!--location, id: :recording_location -->
  </div>

  <div class="field">
    <%= form.label :tempt %>
    <%= form.number_field :tempt, id: :recording_tempt %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :recording_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
